<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <div class="container-fluid">
    <%= link_to "ImageFlow", root_path,class:'navbar-brand' %>
    
      
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <%if user_signed_in?%>
          <li class="nav-item">
            <%= link_to "Browse Images", flows_all_path,class:"nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to "My Images", flows_path,class:"nav-link active" %>
          </li>
          
          
          <%= image_tag((current_user.avatar_thumbnail),:class => "avatar_navbar") %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to "View My Profile", edit_user_registration_path,class:"dropdown-item" %></li>
            <li><%= link_to "Edit Profile", edit_user_registration_path,class:"dropdown-item" %></li>
            
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to "Sign Out", destroy_user_session_path,method: :delete,class:"dropdown-item" %></li>
          </ul>
        </li>
        <%else%>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path,class:"nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign In", new_user_session_path,class:"nav-link active" %>
          </li>
        <%end%>
        <li class="nav-item">
          <%= link_to "About Us", home_about_path,class:"nav-link active" %>
        </li>
        
      </ul>
      <%
=begin%>
 <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> 
<%
=end%>
    </div>
  </div>
</nav>